Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

adding location again
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add output
  arm/Microsoft.Batch/batchAccounts/applications/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/pools/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

updated readmes
  arm/Microsoft.Batch/batchAccounts/applications/readme.md
  arm/Microsoft.Batch/batchAccounts/pools/readme.md
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

update readme files
  README.md
  arm/README.md
Due: none

added default telemetry
  arm/Microsoft.Batch/batchAccounts/applications/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/applications/readme.md
  arm/Microsoft.Batch/batchAccounts/pools/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/pools/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated param description
  arm/Microsoft.Batch/batchAccounts/pools/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/pools/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add pool module
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  utilities/tools/Get-LinkedLocalModuleList.ps1
Due: none

update pool module
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

added param file
  .azuredevops/modulePipelines/ms.batch.batchaccounts.yml
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.min.parameters.json
Due: none

updated readme
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

update readme
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.DesktopVirtualization/applicationgroups/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.NetApp/netAppAccounts/readme.md
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
Due: none

remove unused param file
  arm/Microsoft.Batch/batchAccounts/pools/.parameters/parameters.json
Due: none

fixed rbac
  arm/Microsoft.Batch/batchAccounts/.bicep/nested_rbac.bicep
Due: none

removed app param
  .azuredevops/modulePipelines/ms.batch.batchaccounts.yml
  arm/Microsoft.Batch/batchAccounts/.parameters/app.parameters.json
Due: none

small fix
  utilities/tools/Get-LinkedLocalModuleList.ps1
Due: none

update Recovery Services Vault API to latest (#1411)
  arm/Microsoft.RecoveryServices/vaults/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated PE ref
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

added managed identity
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.min.parameters.json
Due: none

update param
  arm/Microsoft.Batch/batchAccounts/pools/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated readme
  arm/Microsoft.Batch/batchAccounts/pools/readme.md
Due: none

update module param
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/pools/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

bugfixing
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.min.parameters.json
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/pools/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/pools/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

removing etag from parent deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

added missing poolName param
  arm/Microsoft.Batch/batchAccounts/.parameters/pool.min.parameters.json
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/pools/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/pools/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update param description
  arm/Microsoft.Batch/batchAccounts/pools/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Module] App Configuration Stores (#1404)
  .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml
  .github/workflows/ms.appconfiguration.configurationstores.yml
  README.md
  arm/Microsoft.AppConfiguration/configurationStores/.bicep/nested_rbac.bicep
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/parameters.json
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
  arm/Microsoft.AppConfiguration/configurationStores/version.json
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add etag in parent with condition
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/parameters.json
Due: none

Added private endpoint + minor fix
  arm/Microsoft.AppConfiguration/configurationStores/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/parameters.json
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated docs
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
Due: none

[NetworkInterface] Added module (#1400)
  .azuredevops/modulePipelines/ms.network.networkinterfaces.yml
  .github/workflows/ms.network.networkinterfaces.yml
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Network/networkInterfaces/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/networkInterfaces/.parameters/min.parameters.json
  arm/Microsoft.Network/networkInterfaces/.parameters/parameters.json
  arm/Microsoft.Network/networkInterfaces/deploy.bicep
  arm/Microsoft.Network/networkInterfaces/readme.md
  arm/Microsoft.Network/networkInterfaces/version.json
  arm/Microsoft.Sql/servers/databases/deploy.bicep
  arm/Microsoft.Sql/servers/databases/readme.md
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/firewallRules/deploy.bicep
  arm/Microsoft.Sql/servers/firewallRules/readme.md
  arm/Microsoft.Sql/servers/readme.md
  arm/Microsoft.Sql/servers/securityAlertPolicies/deploy.bicep
  arm/Microsoft.Sql/servers/securityAlertPolicies/readme.md
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

[Static validation] Fixing ending dots for parameter descriptions (#1419)
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.DesktopVirtualization/applicationgroups/deploy.bicep
  arm/Microsoft.DesktopVirtualization/applicationgroups/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.NetApp/netAppAccounts/deploy.bicep
  arm/Microsoft.NetApp/netAppAccounts/readme.md
  arm/Microsoft.Network/bastionHosts/.bicep/nested_publicIPAddress.bicep
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
  constructs/Microsoft.Compute/virtualMachinesMultiple/deploy.bicep
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

update parameter paths (#1412)
  .azuredevops/modulePipelines/ms.resources.deploymentscripts.yml
Due: none

additional dots
  arm/Microsoft.Authorization/policySetDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.NetApp/netAppAccounts/deploy.bicep
  arm/Microsoft.NetApp/netAppAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml
