Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - template: /.azuredevops/pipelineTemplates/stages.module.yml
    parameters:
      removeDeployment: ${{ parameters.removeDeployment }}
      prerelease: ${{ parameters.prerelease }}
      templateFilePath: $(modulePath)/deploy.bicep
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

storage
  arm/Microsoft.Storage/storageAccounts/blobServices/containers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/blobServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/managementPolicies/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/queueServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/queueServices/queues/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/tableServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/tableServices/tables/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

site
  arm/Microsoft.Automation/automationAccounts/jobSchedules/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/modules/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/runbooks/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/schedules/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/softwareUpdateConfigurations/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/variables/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/scopedResources/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/authorizationRules/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/disasterRecoveryConfigs/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/ipFilterRules/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/migrationConfigurations/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/queues/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/virtualNetworkRules/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/blobServices/containers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/blobServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/managementPolicies/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/queueServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/queueServices/queues/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/tableServices/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/tableServices/tables/deploy.bicep
  arm/Microsoft.Web/sites/config-appsettings/deploy.bicep
  arm/Microsoft.Web/sites/config-authsettingsv2/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

the name of the parent
  arm/Microsoft.Compute/galleries/images/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  arm/Microsoft.DesktopVirtualization/applicationgroups/applications/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/collections/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/ruleCollectionGroups/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/dataSources/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/linkedServices/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/savedSearches/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/storageInsightConfigs/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupConfig/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupPolicies/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/backupStorageConfig/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationPolicies/deploy.bicep
  arm/Microsoft.ServiceFabric/clusters/applicationTypes/deploy.bicep
  arm/Microsoft.Sql/managedInstances/administrators/deploy.bicep
  arm/Microsoft.Sql/managedInstances/databases/backupLongTermRetentionPolicies/deploy.bicep
  arm/Microsoft.Sql/managedInstances/databases/backupShortTermRetentionPolicies/deploy.bicep
  arm/Microsoft.Sql/managedInstances/encryptionProtector/deploy.bicep
  arm/Microsoft.Sql/managedInstances/keys/deploy.bicep
  arm/Microsoft.Sql/managedInstances/securityAlertPolicies/deploy.bicep
  arm/Microsoft.Sql/managedInstances/vulnerabilityAssessments/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/deploy.bicep
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

private dns zone
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/queues/authorizationRules/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/topics/authorizationRules/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

parent parent
  arm/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/deploy.bicep
  arm/Microsoft.Network/loadBalancers/backendAddressPools/deploy.bicep
  arm/Microsoft.Network/loadBalancers/inboundNatRules/deploy.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

private dns zones
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/virtualNetworkLinks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

MultipleResourceMultipleMetricCriteria.
  arm/Microsoft.ApiManagement/service/identityProviders/deploy.bicep
  arm/Microsoft.Insights/metricAlerts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Required if end
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.Sql/managedInstances/deploy.bicep
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

old unsaved
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.Sql/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

sql mi
  arm/Microsoft.Sql/managedInstances/databases/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

batch
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update constructs/Microsoft.Compute/virtualMachinesMultiple/.parameters/linux.prefix.parameter.json
  constructs/Microsoft.Compute/virtualMachinesMultiple/.parameters/linux.prefix.parameter.json
Due: none

Added multiple vm deployment example (#1369)
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
  constructs/Microsoft.Compute/virtualMachinesMultiple/.parameters/linux.prefix.parameter.json
  constructs/Microsoft.Compute/virtualMachinesMultiple/.parameters/linux.vmnames.parameter.json
  constructs/Microsoft.Compute/virtualMachinesMultiple/deploy.bicep
  constructs/Microsoft.Compute/virtualMachinesMultiple/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed test setting
  arm/.global/global.module.tests.ps1
  settings.json
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Updated docs
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

readme update
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
Due: none

dot test
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

dot test roledef
  arm/Microsoft.Authorization/roleDefinitions/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

dot test roledef revert
  arm/Microsoft.Authorization/roleDefinitions/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/readme.md
Due: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

remove dep
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

removal dep update
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

temp file path
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

tempfp param
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

variables
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

invoke depl
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

join path
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

cleanup
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

print param files
  .azuredevops/pipelineTemplates/jobs.getParameterFiles.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

removal condition
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

parameterFilePathsOutput
  .azuredevops/pipelineTemplates/jobs.getParameterFiles.yml
Due: none

remove condition
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

[Modules] Added SQL Server Vulnerability Assessments (#1374)
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/readme.md
  arm/Microsoft.Sql/servers/vulnerabilityAssessments/deploy.bicep
  arm/Microsoft.Sql/servers/vulnerabilityAssessments/readme.md
  arm/Microsoft.Sql/servers/vulnerabilityAssessments/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

removal condition
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

try strategy
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
