Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: DependencyDeployment
    displayName: Dependency Deployment
    jobs:
    - job: deploy
      displayName: Deploy dependencies
      pool:
        ${{ if ne(variables['vmImage'], '') }}:
          vmImage: ${{ variables['vmImage'] }}
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

fix readme
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix parameters
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
Due: none

pester back
  .github/actions/templates/validateModulePester/action.yml
Due: none

wiki pipeline run
  docs/wiki/media/CIEnvironment/pipelinePhasesADO.png
  docs/wiki/media/CIEnvironment/pipelinePhasesGH.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment - Static validation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Renamed var to enforcedTokenList
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .github/actions/templates/validateModulePester/action.yml
  arm/.global/global.module.tests.ps1
  utilities/tools/Test-ModuleLocally.ps1
Due: none

fix img src
  docs/wiki/Context.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Solution creation.md
  docs/wiki/TestingDesign.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML library.md
  docs/wiki/The context - CARML overview.md
  docs/wiki/UtilitiesGetFormattedRBACRoleList.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

fix img src (#1303)
  docs/wiki/Context.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Solution creation.md
  docs/wiki/TestingDesign.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML library.md
  docs/wiki/The context - CARML overview.md
  docs/wiki/UtilitiesGetFormattedRBACRoleList.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Addition of new Module - Azure Active Directory Domain Services(Azure ADDS) (#1194)
  .azuredevops/modulePipelines/ms.aad.domainservices.yml
  .github/workflows/ms.aad.domainservices.yml
  arm/Microsoft.AAD/DomainServices/.bicep/nested_rbac.bicep
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
  arm/Microsoft.AAD/DomainServices/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Fixed remaining pester tests
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated to latest pipeline & updated token
  .azuredevops/modulePipelines/ms.aad.domainservices.yml
  .github/workflows/ms.aad.domainservices.yml
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
Due: none

Updated readme
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Further updates to latst
  .azuredevops/modulePipelines/ms.aad.domainservices.yml
  .github/workflows/ms.aad.domainservices.yml
Due: none

Updated template parameters (required etc.)
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

readme script
  docs/wiki/Home.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

test
  arm/Microsoft.KubernetesConfiguration/extensions/.parameters/min.parameters.json
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/.parameters/min.parameters.json
Due: none

Wiki restructuring - switch updated content (#1230)
  docs/wiki/Context.md
  docs/wiki/ContributionGuide.md
  docs/wiki/GettingStarted.md
  docs/wiki/Home.md
  docs/wiki/KnownIssues.md
  docs/wiki/Modules.md
  docs/wiki/ModulesDesign.md
  docs/wiki/ModulesUsage.md
  docs/wiki/ParameterFileTokens.md
  docs/wiki/PipelineRemovalAction.md
  docs/wiki/Pipelines.md
  docs/wiki/PipelinesDesign.md
  docs/wiki/PipelinesUsage.md
  docs/wiki/Testing.md
  docs/wiki/TestingDesign.md
  docs/wiki/TestingUsage.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment.md
  docs/wiki/Utilities.md
  docs/wiki/UtilitiesConvertToARMTemplate.md
  docs/wiki/UtilitiesGetFormattedRBACRoleList.md
  docs/wiki/UtilitiesRegisterAzureDevOpsPipeline.md
  docs/wiki/UtilitiesSetModuleReadMe.md
  docs/wiki/UtilitiesTestModuleLocally.md
  docs/wiki/_Sidebar.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

all readmes regenerated
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.Web/serverfarms/readme.md
Due: none

Updated uniqueString to use resource group id
  arm/Microsoft.EventHub/namespaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix property
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

fix version
  arm/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix
  arm/Microsoft.KubernetesConfiguration/extensions/.parameters/parameters.json
Due: none

pass rgname
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

all readmes regenerated (#1305)
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.Web/serverfarms/readme.md
Due: none

Update Getting started with Az Artifacts Guidance
  docs/wiki/ADOUniversalArtifactFeed.md
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

draft of prereqs for azur artifacts
  docs/wiki/ADOUniversalArtifactFeed.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update Getting started with Az Artifacts Guidance
  docs/wiki/ADOUniversalArtifactFeed.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

draft of prereqs for azur artifacts
  docs/ADOUniversalArtifactFeed.md
Due: none

update
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated after readme update
  arm/Microsoft.EventHub/namespaces/deploy.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

testing
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

updated parameters with networkacl check
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

testing
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

load get scope
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

added params to other resources
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

tempfilepath
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
