Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

[Static validation] Fixing ending dots for parameter descriptions continued (#1420)
  arm/Microsoft.Authorization/policySetDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.NetApp/netAppAccounts/deploy.bicep
  arm/Microsoft.NetApp/netAppAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

keys
  arm/Microsoft.Compute/diskEncryptionSets/.parameters/parameters.json
  arm/Microsoft.Compute/virtualMachineScaleSets/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachineScaleSets/.parameters/windows.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
Due: none

additional dots role assignment
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Modules] OperationalInsights add etag parameter to SavedSearches (#1413)
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/savedSearches/deploy.bicep
  arm/Microsoft.OperationalInsights/workspaces/savedSearches/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

parameters
  arm/Microsoft.Network/applicationGateways/.parameters/parameters.json
  arm/Microsoft.Sql/managedInstances/.parameters/parameters.json
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
Due: none

Updated readme
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.CognitiveServices/accounts/readme.md
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.EventGrid/topics/readme.md
  arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.Insights/privateLinkScopes/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.Network/bastionHosts/readme.md
  arm/Microsoft.Network/privateEndpoints/readme.md
  arm/Microsoft.Network/trafficmanagerprofiles/deploy.bicep
  arm/Microsoft.Network/trafficmanagerprofiles/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
  arm/Microsoft.Sql/servers/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
  arm/Microsoft.Web/sites/readme.md
  arm/Microsoft.Web/staticSites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed diskEncryptionSet
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Update to latest
  arm/Microsoft.Compute/diskEncryptionSets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fix
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Small fix
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated param
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface_rbac.bicep
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/.parameters/parameters.json
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/topics/.parameters/parameters.json
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/.parameters/parameters.json
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.Network/privateEndpoints/.parameters/min.parameters.json
  arm/Microsoft.Network/privateEndpoints/.parameters/parameters.json
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
  arm/Microsoft.Network/privateEndpoints/readme.md
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/.parameters/parameters.json
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/staticSites/.parameters/parameters.json
  arm/Microsoft.Web/staticSites/deploy.bicep
  docs/wiki/The library - Module design.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Added missing condition
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Updated condition
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Renamed parameter to more meaningful name
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Adjusted VM deployment to reference nic
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
Due: none

Small bugfix
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated groupIds ref
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventGrid/topics/readme.md
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/readme.md
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.Network/privateEndpoints/readme.md
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/readme.md
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/readme.md
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
  arm/Microsoft.Web/staticSites/deploy.bicep
  arm/Microsoft.Web/staticSites/readme.md
  docs/wiki/The library - Module design.md
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Changed endpoint name
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/staticSites/deploy.bicep
  docs/wiki/The library - Module design.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Added PE test to sites
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed ref
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/staticSites/deploy.bicep
  docs/wiki/The library - Module design.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

test multiline
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

remove dot
  arm/Microsoft.Compute/availabilitySets/deploy.bicep
  arm/Microsoft.Compute/availabilitySets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

remove dot from multiline
  arm/Microsoft.Compute/availabilitySets/deploy.bicep
  arm/Microsoft.Compute/availabilitySets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Test different private link connection
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

remove dot from multiline all
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Compute/availabilitySets/deploy.bicep
  arm/Microsoft.Compute/availabilitySets/readme.md
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

dot back from multiline all
  arm/Microsoft.Compute/availabilitySets/deploy.bicep
  arm/Microsoft.Compute/availabilitySets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated to original parmaeter files
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/.parameters/parameters.json
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/topics/.parameters/parameters.json
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/.parameters/parameters.json
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
  arm/Microsoft.Web/sites/.parameters/wa.parameters.json
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/staticSites/.parameters/parameters.json
  arm/Microsoft.Web/staticSites/deploy.bicep
  docs/wiki/The library - Module design.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

dot back all
  arm/Microsoft.Compute/availabilitySets/deploy.bicep
  arm/Microsoft.Compute/availabilitySets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

multiline out
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Missing upload
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Modules] [AppConfig] Added private endpoint (#1418)
  arm/Microsoft.AppConfiguration/configurationStores/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/parameters.json
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed private endpoint from systemTopic
  arm/Microsoft.EventGrid/systemTopics/.parameters/parameters.json
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed synapse
  arm/Microsoft.Synapse/privateLinkHubs/.parameters/parameters.json
Due: none

Minor adjustment for NIC module
  arm/Microsoft.Network/networkInterfaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added groupID to name generation to avoid conflicts
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/staticSites/deploy.bicep
  docs/wiki/The library - Module design.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Added groupID to name generation to avoid conflicts
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added sub domain to cognitive services to work with endpoints
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added cognitive speech api example to deploy private endpoints
  .azuredevops/modulePipelines/ms.cognitiveservices.accounts.yml
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.speech.json
Due: none

renamed file
  arm/Microsoft.CognitiveServices/accounts/.parameters/speech.parameters.json
Due: none

Rename kvlt to work around conflict
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
Due: none
