Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

update vm name
  utilities/pipelines/dependencies/Microsoft.Compute/virtualMachines/parameters/parameters.json
Due: none

updated readme for network rules
  arm/Microsoft.EventHub/namespaces/networkRuleSets/readme.md
Due: none

updated readme
  arm/Microsoft.EventHub/namespaces/networkRuleSets/readme.md
Due: none

Add SetContext to Removal
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

indents
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

[Modules] EventGrid: Set default values to a secure value (#1384)
  arm/Microsoft.EventGrid/topics/.parameters/parameters.json
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventGrid/topics/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed location output test for global resources
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

SQL-Server: Added private endpoint (#1367)
  arm/Microsoft.Sql/servers/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

changing to <img>
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Removed defaults from the bicep module
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
  arm/Microsoft.EventHub/namespaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

restored to use defaults
  arm/Microsoft.EventHub/namespaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

changing to <img> (#1391)
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

print all options
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

no quotes
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

Fixed location output test for global resources (#1390)
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

quotes
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

Update to latest
  .github/workflows/platform.bug.yml
Due: none

adding ado pipeline and update namePrefix
  .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml
  settings.json
Due: none

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Update arm/Microsoft.EventHub/namespaces/networkRuleSets/deploy.bicep
  arm/Microsoft.EventHub/namespaces/networkRuleSets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated Namespace and networkRules config
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.EventHub/namespaces/networkRuleSets/deploy.bicep
  arm/Microsoft.EventHub/namespaces/networkRuleSets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

added missing dots to descriptions
  arm/Microsoft.Authorization/policyAssignments/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleDefinitions/subscription/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/variables/deploy.bicep
  arm/Microsoft.DesktopVirtualization/applicationgroups/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.NetApp/netAppAccounts/deploy.bicep
  arm/Microsoft.Network/networkSecurityGroups/securityRules/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Sql/servers/vulnerabilityAssessments/deploy.bicep
  constructs/Microsoft.Compute/virtualMachinesMultiple/deploy.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Added telemetry to AAD module & description to docs
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
  docs/wiki/The library - Module design.md
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update to latest
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

reset readme
  arm/Microsoft.Authorization/policyAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/policyAssignments/readme.md
  arm/Microsoft.Authorization/policyAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/policyAssignments/subscription/readme.md
  arm/Microsoft.Authorization/policyDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyDefinitions/readme.md
  arm/Microsoft.Authorization/policyDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/policyExemptions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/readme.md
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/subscription/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/readme.md
  arm/Microsoft.Authorization/policySetDefinitions/subscription/readme.md
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.Authorization/roleDefinitions/managementGroup/readme.md
  arm/Microsoft.Authorization/roleDefinitions/readme.md
  arm/Microsoft.Authorization/roleDefinitions/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleDefinitions/subscription/readme.md
  arm/Microsoft.Automation/automationAccounts/variables/readme.md
  arm/Microsoft.DesktopVirtualization/applicationgroups/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.NetApp/netAppAccounts/readme.md
  arm/Microsoft.Network/localNetworkGateways/readme.md
  arm/Microsoft.Network/networkSecurityGroups/securityRules/readme.md
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
  arm/Microsoft.Sql/servers/readme.md
  arm/Microsoft.Sql/servers/vulnerabilityAssessments/readme.md
Due: none

Updated private endpoint default + cross referenced it from kvlt
  arm/Microsoft.KeyVault/vaults/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.Network/privateEndpoints/.parameters/min.parameters.json
  arm/Microsoft.Network/privateEndpoints/.parameters/parameters.json
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
  arm/Microsoft.Network/privateEndpoints/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

missing dots and readmes
  arm/Microsoft.Authorization/policyExemptions/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/managementGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/readme.md
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/resourceGroup/readme.md
  arm/Microsoft.Authorization/policyExemptions/subscription/deploy.bicep
  arm/Microsoft.Authorization/policyExemptions/subscription/readme.md
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_linkedService.bicep
Due: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated more private endpoint references
  arm/Microsoft.Automation/automationAccounts/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/.bicep/nested_privateEndpoints.bicep
  arm/Microsoft.CognitiveServices/accounts/.parameters/parameters.json
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.Network/privateEndpoints/deploy.bicep
  arm/Microsoft.Sql/servers/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated further endpoints
  arm/Microsoft.ContainerRegistry/registries/.bicep/nested_privateEndpoints.bicep
  arm/Microsoft.ContainerRegistry/registries/.parameters/parameters.json
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.EventGrid/systemTopics/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.EventGrid/systemTopics/.parameters/parameters.json
  arm/Microsoft.EventGrid/systemTopics/deploy.bicep
  arm/Microsoft.EventGrid/topics/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.EventGrid/topics/.parameters/parameters.json
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventHub/namespaces/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Insights/privateLinkScopes/.parameters/parameters.json
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/.bicep/nested_privateEndpoints.bicep
  arm/Microsoft.ServiceBus/namespaces/.parameters/parameters.json
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
  arm/Microsoft.Synapse/privateLinkHubs/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Synapse/privateLinkHubs/.parameters/parameters.json
  arm/Microsoft.Synapse/privateLinkHubs/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated VM
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface_publicIPAddress.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface_publicIPAddress_rbac.bicep
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Created first version of NIC module
  .azuredevops/modulePipelines/ms.network.networkInterfaces.yml
  .github/workflows/ms.network.networkInterfaces.yml
  arm/Microsoft.Network/networkInterfaces/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/networkInterfaces/.parameters/parameters.json
  arm/Microsoft.Network/networkInterfaces/deploy.bicep
  arm/Microsoft.Network/networkInterfaces/readme.md
  arm/Microsoft.Network/networkInterfaces/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/networkInterfaces/deploy.bicep
  arm/Microsoft.Network/networkInterfaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  .azuredevops/modulePipelines/ms.network.networkInterfaces.yml
  .github/workflows/ms.network.networkInterfaces.yml
Due: none

Updated tests
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

webhooks
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.ContainerRegistry/registries/webhooks/README.md
  arm/Microsoft.ContainerRegistry/registries/webhooks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml
