Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Restored Platform Link Check Trigger
  .github/workflows/platform.linkcheck.yml
Due: none

Restored CARML configs
  global.variables.yml
  settings.json
Due: none

Links Check - Add new exclusion + FW Policy - Parameter Usage URL Fix (#1208)
  .lycheeignore
  arm/Microsoft.Network/firewallPolicies/ruleGroups/readme.md
Due: none

Added deployment name to test-azdeployment
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Due: none

Update to latest
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Due: none

Added missing join-path
  .azuredevops/pipelineTemplates/steps.deployTemplate.yml
Due: none

Update to latest
  .azuredevops/pipelineTemplates/steps.removeTemplateDeployment.yml
Due: none

Disabled telemetry for dependency file deployment test
  arm/.global/dependencyConstructs/diagnostic.dependencies.bicep
Due: none

Update to latest
  arm/.global/dependencyConstructs/diagnostic.dependencies.bicep
Due: none

Extended SQL DB SKU parameters
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/databases/deploy.bicep
  arm/Microsoft.Sql/servers/databases/readme.md
  arm/Microsoft.Sql/servers/databases/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Sql/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed incorrect space
  arm/Microsoft.Sql/servers/databases/deploy.bicep
  arm/Microsoft.Sql/servers/databases/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Sql/servers/.parameters/parameters.json
Due: none

Updated connection module
  .azuredevops/modulePipelines/ms.network.connections.yml
  .github/workflows/ms.network.connections.yml
  arm/Microsoft.Network/connections/.parameters/vnet2vnet.parameters.json
  arm/Microsoft.Network/connections/deploy.bicep
  arm/Microsoft.Network/connections/readme.md
  arm/Microsoft.Network/connections/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/connections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/connections/deploy.bicep
  arm/Microsoft.Network/connections/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/connections/readme.md
Due: none

Added additional param to cognitive services
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: none

updated fw policy module
  arm/Microsoft.Network/firewallPolicies/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/readme.md
  arm/Microsoft.Network/firewallPolicies/ruleGroups/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/ruleGroups/readme.md
  arm/Microsoft.Network/firewallPolicies/ruleGroups/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated param handling
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Cognitive Services: Added additional parameters (#1215)
  arm/Microsoft.CognitiveServices/accounts/deploy.bicep
  arm/Microsoft.CognitiveServices/accounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

overview interoperability
  docs/wiki/The context - CARML overview.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

updated handling of optional networking ipRules
  arm/Microsoft.KeyVault/vaults/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

library overview
  docs/wiki/The context - CARML library.md
  docs/wiki/The context - CARML overview.md
  docs/wiki/media/Context/CARLM_overview.png
  docs/wiki/media/Context/Library_storage-variants.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

restored config
  global.variables.yml
  settings.json
Due: none

updated lanuage expression
  arm/Microsoft.Network/firewallPolicies/readme.md
Due: none

Removed 'RuleGroups' Child Module from Firewall Policies (#1217)
  arm/Microsoft.Network/firewallPolicies/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/readme.md
  arm/Microsoft.Network/firewallPolicies/ruleGroups/deploy.bicep
  arm/Microsoft.Network/firewallPolicies/ruleGroups/readme.md
  arm/Microsoft.Network/firewallPolicies/ruleGroups/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

solution creation
  docs/wiki/Solution creation.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML library.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added some smart defaults to osDisk and dataDisks
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml
