Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: DependencyDeployment
    displayName: Dependency Deployment
    jobs:
    - job: deploy
      displayName: Deploy dependencies
      pool:
        ${{ if ne(variables['vmImage'], '') }}:
          vmImage: ${{ variables['vmImage'] }}
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

use caf naming convention for azure firewall
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/azureFirewalls/readme.md
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

Update arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added role assignment removal to removal logic
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

enable deployment
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

Private DNS records RBAC
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
  arm/Microsoft.Network/privateDnsZones/A/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/privateDnsZones/A/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/A/readme.md
  arm/Microsoft.Network/privateDnsZones/A/version.json
  arm/Microsoft.Network/privateDnsZones/AAAA/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/AAAA/readme.md
  arm/Microsoft.Network/privateDnsZones/AAAA/version.json
  arm/Microsoft.Network/privateDnsZones/CNAME/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/CNAME/readme.md
  arm/Microsoft.Network/privateDnsZones/CNAME/version.json
  arm/Microsoft.Network/privateDnsZones/MX/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/privateDnsZones/MX/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/MX/readme.md
  arm/Microsoft.Network/privateDnsZones/MX/version.json
  arm/Microsoft.Network/privateDnsZones/PTR/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/PTR/readme.md
  arm/Microsoft.Network/privateDnsZones/PTR/version.json
  arm/Microsoft.Network/privateDnsZones/SOA/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SOA/readme.md
  arm/Microsoft.Network/privateDnsZones/SOA/version.json
  arm/Microsoft.Network/privateDnsZones/SRV/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/SRV/readme.md
  arm/Microsoft.Network/privateDnsZones/SRV/version.json
  arm/Microsoft.Network/privateDnsZones/TXT/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/TXT/readme.md
  arm/Microsoft.Network/privateDnsZones/TXT/version.json
  arm/Microsoft.Network/privateDnsZones/deploy.bicep
  arm/Microsoft.Network/privateDnsZones/readme.md
  arm/Microsoft.Network/privateDnsZones/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Blank spaces fix
  arm/Microsoft.Network/privateDnsZones/readme.md
Due: none

ado template draft
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

add get param files
  .azuredevops/pipelineTemplates/jobs.getParameterFiles.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

init
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

init parallel
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

init parallel comment
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

update deploy template
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

depon
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

tempfilepath
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

init
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

matrix try
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

templateFilePath
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

no dep
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

custom rg
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Update arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
  arm/Microsoft.Network/privateDnsZones/.parameters/parameters.json
Due: none

add ingress condition
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Apply suggestions from code review
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
Due: none

initial commit
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Change Task Type for ADO in the publishing to bicep registry (#1340)
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
Due: none

Added batch properties
  .azuredevops/modulePipelines/ms.batch.batchaccounts.yml
  arm/Microsoft.Batch/batchAccounts/.parameters/min.parameters.json
  arm/Microsoft.Batch/batchAccounts/.parameters/parameters.json
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

outcomment autoStorage
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add aoutoStorage without id
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update readme
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

Typo
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update autoStorageConfig
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update autostorageconfig
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add storageaccountid
  arm/Microsoft.Batch/batchAccounts/.parameters/parameters.json
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update storageid
  arm/Microsoft.Batch/batchAccounts/.parameters/min.parameters.json
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
