Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Updated app config
  arm/Microsoft.AppConfiguration/configurationStores/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated readme
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
Due: none

Implemented purge protection
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourcePostRemoval.ps1
Due: none

Update readmes
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.Network/natGateways/readme.md
  arm/Microsoft.Network/networkInterfaces/readme.md
  arm/Microsoft.Sql/servers/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none

Update docs
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.Network/natGateways/readme.md
  arm/Microsoft.Network/networkInterfaces/readme.md
Due: none

[Static validation] Fixing ending dots for parameter descriptions continued (#1424)
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Authorization/roleAssignments/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/managementGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/readme.md
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/resourceGroup/readme.md
  arm/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  arm/Microsoft.Authorization/roleAssignments/subscription/readme.md
  arm/Microsoft.Compute/availabilitySets/deploy.bicep
  arm/Microsoft.Compute/availabilitySets/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.Sql/servers/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Renamed parameter to more meaningful name (#1423)
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Implemented purge protection (#1426)
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourcePostRemoval.ps1
Due: none

new test switch
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

remove required if string
  arm/.global/global.module.tests.ps1
  arm/Microsoft.KeyVault/vaults/accessPolicies/deploy.bicep
  arm/Microsoft.KeyVault/vaults/accessPolicies/readme.md
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

regex switch
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

required if back
  arm/Microsoft.KeyVault/vaults/accessPolicies/deploy.bicep
  arm/Microsoft.KeyVault/vaults/accessPolicies/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed resource names
  arm/Microsoft.ContainerRegistry/registries/deploy.bicep
  arm/Microsoft.EventGrid/topics/deploy.bicep
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.Insights/privateLinkScopes/deploy.bicep
  arm/Microsoft.ServiceBus/namespaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Simplification
  arm/Microsoft.Network/bastionHosts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed param ref
  arm/Microsoft.Network/privateEndpoints/.parameters/min.parameters.json
  arm/Microsoft.Network/privateEndpoints/.parameters/parameters.json
Due: none

Update to latest
  arm/Microsoft.Network/privateEndpoints/readme.md
Due: none

Update to latest
  docs/wiki/Getting started - Get module cross-references.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed typo
  utilities/tools/Get-LinkedLocalModuleList.ps1
Due: none

Update to latest
  utilities/tools/Get-LinkedLocalModuleList.ps1
Due: none

Cleanup
  utilities/tools/Get-LinkedModuleList.ps1
Due: none

Updated resource naming
  arm/Microsoft.EventGrid/topics/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed readme
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

revert simple
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

dep validate
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

depl and rem
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

remove tokens condition
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

paramfilepath
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

modulepath
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

deployment
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

remove
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

remove templ
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

remove block
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

deploy
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

repo root
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

Update to the private endppint zone gen
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
  arm/Microsoft.Network/privateEndpoints/privateDnsZoneGroups/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
Due: none

Added output example
  docs/wiki/Getting started - Get module cross-references.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added cross-module description
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml
