Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - template: /.azuredevops/pipelineTemplates/stages.module.yml
    parameters:
      removeDeployment: ${{ parameters.removeDeployment }}
      prerelease: ${{ parameters.prerelease }}
      templateFilePath: $(modulePath)/deploy.bicep
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

Several smaller fixes
  arm/Microsoft.DataFactory/factories/integrationRuntime/deploy.bicep
  arm/Microsoft.DesktopVirtualization/hostpools/deploy.bicep
  arm/Microsoft.DesktopVirtualization/hostpools/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Insights/metricAlerts/deploy.bicep
  arm/Microsoft.Logic/workflows/deploy.bicep
  arm/Microsoft.Logic/workflows/readme.md
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress_rbac.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Smaller updates
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  arm/Microsoft.Sql/servers/securityAlertPolicies/deploy.bicep
  arm/Microsoft.Sql/servers/securityAlertPolicies/readme.md
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Further fixes
  arm/Microsoft.Web/connections/.parameters/parameters.json
  arm/Microsoft.Web/connections/deploy.bicep
  arm/Microsoft.Web/connections/readme.md
  arm/Microsoft.Web/hostingEnvironments/deploy.bicep
  arm/Microsoft.Web/hostingEnvironments/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Interpolation update
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated storage
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Undid param change
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Undid param change
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none

Disabled lock deployment for NetworkWatcher as resource removal is disabled
  arm/Microsoft.Network/networkWatchers/.parameters/parameters.json
  arm/Microsoft.Network/networkWatchers/readme.md
Due: none

Update arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[ReadMe] Fixed KeyVault reference for Bicep example in ReadMes (#1439)
  arm/Microsoft.AAD/DomainServices/readme.md
  arm/Microsoft.Compute/virtualMachineScaleSets/readme.md
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.Network/connections/readme.md
  arm/Microsoft.Sql/managedInstances/readme.md
  arm/Microsoft.Sql/servers/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Update utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

Cleanup
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

Update docs/wiki/Solution creation.md
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed readme pe ref
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.CognitiveServices/accounts/readme.md
  arm/Microsoft.ContainerRegistry/registries/readme.md
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.EventGrid/topics/readme.md
  arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.Insights/privateLinkScopes/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
  arm/Microsoft.Sql/servers/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
  arm/Microsoft.Web/sites/readme.md
  arm/Microsoft.Web/staticSites/readme.md
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
Due: none

Update arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
Due: none

Update arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
Due: none

Update arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

Update arm/Microsoft.ServiceBus/namespaces/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: none

Update arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.EventHub/namespaces/readme.md
Due: none

Update docs/wiki/The library - Module design.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Docs]: Updated solution examples in Wiki (#1375)
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed ase & autoaccount
  arm/Microsoft.Automation/automationAccounts/readme.md
  arm/Microsoft.Web/hostingEnvironments/deploy.bicep
  arm/Microsoft.Web/hostingEnvironments/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Diverse updates + added test verbosity
  arm/.global/global.module.tests.ps1
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Updated security center
  arm/Microsoft.Security/azureSecurityCenter/deploy.bicep
  arm/Microsoft.Security/azureSecurityCenter/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Event Hub update
  arm/Microsoft.EventHub/namespaces/readme.md
Due: none

Updated rsv
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/readme.md
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated service bus
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: none

Updated VM
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: none

Make multisize optinoal for ase
  arm/Microsoft.Web/hostingEnvironments/deploy.bicep
  arm/Microsoft.Web/hostingEnvironments/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated hostpools
  arm/Microsoft.DesktopVirtualization/hostpools/.parameters/parameters.json
  arm/Microsoft.DesktopVirtualization/hostpools/readme.md
Due: none

Fixed value
  arm/Microsoft.Security/azureSecurityCenter/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added additional case handling
  arm/Microsoft.Web/hostingEnvironments/deploy.bicep
  arm/Microsoft.Web/hostingEnvironments/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Web/hostingEnvironments/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added delegation for ase
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/parameters.json
Due: none

Updated removal script to restore tokens
  utilities/pipelines/resourceRemoval/helper/Get-DependencyResourceNameList.ps1
Due: none

Updated removal script to restore tokens
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/fa.parameters.json
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/law.parameters.json
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
