Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

update PolicySet Definition Name limit to 64
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update to main
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update also parent module description
  arm/Microsoft.Authorization/policySetDefinitions/deploy.bicep
  arm/Microsoft.Authorization/policySetDefinitions/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

rev
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  docs/wiki/Solution creation.md
  global.variables.yml
  utilities/pipelines/resourcePublish/Publish-ModuleToPrivateBicepRegistry.ps1
  utilities/pipelines/resourcePublish/Publish-ModuleToTemplateSpec.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

indents
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
Due: none

change quotes
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
Due: none

perster
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
Due: none

depl
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

swapped the values for tenantId and deploymentSpId (#1469)
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .github/actions/templates/validateModulePester/action.yml
Due: none

Removed workaround
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Removed empty line
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

Removed an output
  arm/Microsoft.Security/azureSecurityCenter/deploy.bicep
  arm/Microsoft.Security/azureSecurityCenter/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed ASE logic
  arm/Microsoft.Web/hostingEnvironments/deploy.bicep
  arm/Microsoft.Web/hostingEnvironments/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added add. param tests for ASE + updated dependency pipeline + added cluster settings
  .azuredevops/modulePipelines/ms.web.hostingenvironments.yml
  arm/Microsoft.Web/hostingEnvironments/.parameters/asev2.parameters.json
  arm/Microsoft.Web/hostingEnvironments/.parameters/asev3.parameters.json
  arm/Microsoft.Web/hostingEnvironments/deploy.bicep
  arm/Microsoft.Web/hostingEnvironments/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/ase.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed typo
  arm/Microsoft.Storage/storageAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Regenerated docs
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none

Getting started, typos, punctuation
  SECURITY.md
  SUPPORT.md
  docs/wiki/Contribution guide - Generate module readme.md
  docs/wiki/Contribution guide - Get formatted RBAC roles.md
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Get module cross-references.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  docs/wiki/Getting started - Scenario 2 Consume library.md
  docs/wiki/Getting started - Scenario 3 Contribute.md
  docs/wiki/Getting started.md
  docs/wiki/Interoperability - Bicep to ARM conversion.md
  docs/wiki/Interoperability - Register Azure DevOps Pipelines.md
  docs/wiki/Known issues.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Bicep configuration file.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML library.md
  docs/wiki/The context - CARML overview.md
  docs/wiki/The context.md
  docs/wiki/The library - Module design.md
  docs/wiki/The library - Module usage.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Link fixes
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide.md
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  docs/wiki/Getting started - Scenario 2 Consume library.md
  docs/wiki/Getting started - Scenario 3 Contribute.md
  docs/wiki/Getting started.md
  docs/wiki/Home.md
  docs/wiki/Interoperability.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The CI environment.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML overview.md
  docs/wiki/The context.md
  docs/wiki/The library - Module design.md
  docs/wiki/The library - Module usage.md
  docs/wiki/The library.md
  docs/wiki/_Sidebar.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Implemented --no-restore for workaround
  arm/.global/global.module.tests.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Regenerated readme
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.ServiceBus/namespaces/readme.md
Due: none

Replace space with %20 in the ADO projectname.
  utilities/tools/Set-ReadMeModuleTable.ps1
Due: none

Added registration definition removal
  .azuredevops/modulePipelines/ms.managedservices.registrationdefinitions.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/workflows/ms.managedservices.registrationdefinitions.yml
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

Added assignment removal
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Due: none

Updated readme and parameters description.
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed failed pipeline by changing the keyvault reference.
  arm/Microsoft.Network/applicationGateways/.parameters/parameters.json
  arm/Microsoft.Network/applicationGateways/readme.md
Due: none

Updated readme and parameters description. (#1480)
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Optimized Set-EnvOnAgent script
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Updated analysis pipeline for testing
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Updated cond
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Due: none

Added ado test
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Rollback temp test changes
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Exclude certain tests if no primary resource exists + updated skip behavior
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Adjusted test result search
  .github/actions/templates/validateModulePester/action.yml
Due: none

Another try
  .github/actions/templates/validateModulePester/action.yml
Due: none

Update to latest
  .github/actions/templates/validateModulePester/action.yml
Due: none
