Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Update arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Synapse/workspaces/keys/deploy.bicep
  arm/Microsoft.Synapse/workspaces/keys/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated suggestions from review
  .github/workflows/ms.synapse.workspaces.yml
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cuaId.bicep
  arm/Microsoft.Synapse/workspaces/keys/.bicep/nested_cuaId.bicep
  arm/Microsoft.Synapse/workspaces/keys/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed default telemetry from Synapse Key resource
  arm/Microsoft.Synapse/workspaces/keys/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated README
  arm/Microsoft.Synapse/workspaces/keys/readme.md
  arm/Microsoft.Synapse/workspaces/readme.md
Due: none

updated default values for pip parameters
  arm/Microsoft.Network/virtualNetworkGateways/deploy.bicep
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Due: none

First commit
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Update to latest
  arm/Microsoft.Network/virtualNetworkGateways/deploy.bicep
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Network/virtualNetworkGateways/readme.md
Due: none

Small fix
  arm/Microsoft.Network/virtualNetworkGateways/.parameters/expressRoute.parameters.json
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml

Minor fix
  arm/Microsoft.Network/virtualNetworkGateways/deploy.bicep
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

First commit (#1336)
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

VNET Gateway: Small suggested changes to reduce amount of variables (#1337)
  arm/Microsoft.Network/virtualNetworkGateways/.parameters/expressRoute.parameters.json
  arm/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  arm/Microsoft.Network/virtualNetworkGateways/readme.md
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Users/msanzdelrio/vngw ip fix (#1327)
  arm/Microsoft.Network/virtualNetworkGateways/.parameters/expressRoute.parameters.json
  arm/Microsoft.Network/virtualNetworkGateways/.parameters/vpn.parameters.json
  arm/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  arm/Microsoft.Network/virtualNetworkGateways/readme.md
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest (#1335)
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Due: none

update readme with new parameters
  arm/Microsoft.ContainerService/managedClusters/readme.md
Due: none

Added comment
  arm/.global/global.module.tests.ps1
Due: none

update aks api version
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/version.json
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed unused variables updated readme
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.EventHub/namespaces/deploy.json
  arm/Microsoft.EventHub/namespaces/readme.md
  global.variables.yml
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated testing settings.
  arm/Microsoft.EventHub/namespaces/deploy.json
  global.variables.yml
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Event Hub namespace default name Bug Report #877 (#1334)
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.EventHub/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated link
  README.md
Due: none

Update to latest
  README.md
Due: none

update to remove ability to create multiple ipconfigurations and enforce required name of Azurefirewall subnet
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Users/alsehr/fix contr link (#1338)
  README.md
Due: none

Align default ado removal param input
  .azuredevops/modulePipelines/ms.apimanagement.service.yml
  .azuredevops/modulePipelines/ms.cognitiveservices.accounts.yml
  .azuredevops/modulePipelines/ms.insights.diagnosticsettings.yml
  .azuredevops/modulePipelines/ms.keyvault.vaults.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.extensions.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
  .azuredevops/modulePipelines/ms.network.networkwatchers.yml
Due: none

update parameters
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
Due: none

Align default ado removal param input (#1339)
  .azuredevops/modulePipelines/ms.apimanagement.service.yml
  .azuredevops/modulePipelines/ms.cognitiveservices.accounts.yml
  .azuredevops/modulePipelines/ms.insights.diagnosticsettings.yml
  .azuredevops/modulePipelines/ms.keyvault.vaults.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.extensions.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
  .azuredevops/modulePipelines/ms.network.networkwatchers.yml
Due: none

change Task from PS to AzureCLI
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
Due: none

add comment again
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
Due: none

update bastion to not reference an already create pip
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/bastionHosts/deploy.bicep
  arm/Microsoft.Network/bastionHosts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

deploy.json
  .gitignore
Due: none

update zones and add a min parameters.json
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress.bicep
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml
