Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Update arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/8.aadds.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/8.aadds.parameters.json
Due: none

Update to latest
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added self-signed cert generation
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
Due: none

add subnet rbac
  arm/Microsoft.Network/virtualNetworks/subnets/.bicep/nested_rbac.bicep
  arm/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

test subnet rbac
  arm/Microsoft.Network/virtualNetworks/.parameters/parameters.json
Due: none

update readme
  arm/Microsoft.Network/virtualNetworks/subnets/readme.md
Due: none

Module should contain a [version.json] file
  arm/Microsoft.Synapse/workspaces/keys/version.json
  arm/Microsoft.Synapse/workspaces/version.json
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

used resource type [privateEndpoints] should use one of the recent API version(s)
  arm/Microsoft.Synapse/workspaces/.bicep/nested_privateEndpoint.bicep
  arm/Microsoft.Synapse/workspaces/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Updated GH and ADO pipelines
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml
  .github/workflows/ms.synapse.workspaces.yml
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Trigger pipeline
  arm/Microsoft.Synapse/workspaces/.parameters/basic.parameters.json
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Trigger pipeline
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Added PR branch to pipeline
  .github/workflows/ms.synapse.workspaces.yml
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Switch secret creation action to use windows 2022
  .github/workflows/platform.dependencies.yml
Due: none

Update to latest
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Update to latest
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
Due: none

Removed PR branch from pipeline
  .github/workflows/ms.synapse.workspaces.yml
Due: none

Added convert
  .github/workflows/platform.dependencies.yml
Due: none

Disabled dependencies
  .github/workflows/platform.dependencies.yml
Due: none

Enabled full GH dependency, enabled only parts of ado dependency
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
Due: none

Changed pool
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Minor fix
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

Cleanup
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[AADDS] Follow Up PR (#1304)
  .azuredevops/modulePipelines/ms.aad.domainservices.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/ms.aad.domainservices.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
  arm/Microsoft.Network/virtualNetworks/.parameters/parameters.json
  docs/wiki/Known issues.md
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/aadds.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/8.aadds.parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

draft of pip from bastion code
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress.bicep
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress_rbac.bicep
Due: none

draft - need to test and look if there's any improvmenet to be made
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update version of sites module
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

initial test for ip names in virtual network gateway
  arm/Microsoft.Network/virtualNetworkGateways/.parameters/vpn.parameters.json
  arm/Microsoft.Network/virtualNetworkGateways/deploy.bicep
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

updated to length 0
  arm/Microsoft.Network/virtualNetworkGateways/deploy.bicep
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

only deploy one parameters file
  arm/Microsoft.Network/virtualNetworkGateways/.parameters/expressRoute.parameters.json.test
Due: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml
