Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Updated local test
  utilities/tools/Test-ModuleLocally.ps1
Due: none

Update to latest
  utilities/tools/Test-ModuleLocally.ps1
Due: none

absolute major
  docs/wiki/The CI environment - Publishing.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/Test-ModuleLocally.ps1
Due: none

cleanup
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Wiki restructuring - CI environment (#1229)
  docs/wiki/Getting started - Dependency pipeline.md
  docs/wiki/Getting started - Setup environment.md
  docs/wiki/Home.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
  docs/wiki/media/CIEnvironment/dependencyPipelineInput.PNG
  docs/wiki/media/CIEnvironment/deploymentValidationOutput.png
  docs/wiki/media/CIEnvironment/deploymentValidationStep.png
  docs/wiki/media/CIEnvironment/modulePipelineInput.PNG
  docs/wiki/media/CIEnvironment/pipelineDesign.png
  docs/wiki/media/CIEnvironment/pipelineDesignPhases.png
  docs/wiki/media/CIEnvironment/pipelinePhasesADO.png
  docs/wiki/media/CIEnvironment/pipelinePhasesGH.png
  docs/wiki/media/CIEnvironment/publishingOutput.png
  docs/wiki/media/CIEnvironment/publishingStep.png
  docs/wiki/media/CIEnvironment/staticValidationOutput.png
  docs/wiki/media/CIEnvironment/staticValidationStep.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/The CI environment - Static validation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Enabled template deployment without parameter file
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/TestingDesign.md
  docs/wiki/UtilitiesTestModuleLocally.md
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
  utilities/tools/Test-ModuleLocally.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Excluded deploymentname from rg-scope
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Due: none

Added exmaples
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Due: none

First commit
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed batch for testing
  arm/Microsoft.Network/firewallPolicies/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed netapp capacity pool batch
  arm/Microsoft.NetApp/netAppAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed law solutions batch
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/.global/global.module.tests.ps1
Due: none

Added repo root var
  arm/.global/global.module.tests.ps1
Due: none

Added compiled template caching
  arm/.global/global.module.tests.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Users/alsehr/runtime opt (#1268)
  arm/.global/global.module.tests.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Added forms
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Re-apply
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Due: none

Update to latest
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Update to latest
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Updated forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Updated templates
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update to latest
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Make VMSize required parameter
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added bicep config to disable location warning
  bicepconfig.json
Due: none

Update to latest
  bicepconfig.json
Due: none

Update utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
Due: none
