Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Update docs/wiki/The library - Module design.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed ref
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

param condition
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

update param condition
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

update param condition
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

update strategy condition
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

update strategy condition variables
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

contains dep
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

contains dep no validate
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

disable dep
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

first draft condition full
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

paramfilepath function param
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

no column
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

no param input
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

inotmatch
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

update azure firewall for PIP use cases
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress.bicep
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress_rbac.bicep
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updatereadme
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

undo output changes
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

consistent name
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
Due: none

add readme usage
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

reran set-modulereadme
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

Update arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
Due: none

consistent output
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fixing linter - instead of id, ID
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

remove template reference and regenerate readme
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

using union
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

use union function
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

FW Proposal PR (not main) (#1415)
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix natural language errors
  .github/PULL_REQUEST_TEMPLATE.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated to latest readme
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

update firewall min use case dependencies
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/ms.network.azurefirewalls.yml
  .github/workflows/platform.dependencies.yml
Due: none

updating reference to min vnet
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
Due: none

forgot to add azfw parameters.json file
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/9.azfw.parameters.json
Due: none

disable validato to speed up tests
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

First draft for CMK support
  arm/Microsoft.Automation/automationAccounts/.parameters/encr.parameters.json
  arm/Microsoft.Automation/automationAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Disabled param files
  arm/Microsoft.Storage/storageAccounts/.parameters/min.parameters.dis.json
  arm/Microsoft.Storage/storageAccounts/.parameters/nfs.parameters.dis.json
  arm/Microsoft.Storage/storageAccounts/.parameters/v1.parameters.dis.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

Updated readme
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none
