Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: DependencyDeployment
    displayName: Dependency Deployment
    jobs:
    - job: deploy
      displayName: Deploy dependencies
      pool:
        ${{ if ne(variables['vmImage'], '') }}:
          vmImage: ${{ variables['vmImage'] }}
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

Update utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Due: none

Cleanup
  arm/Microsoft.AnalysisServices/servers/deploy.bicep
  arm/Microsoft.AnalysisServices/servers/readme.md
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/fileServices/shares/version.json
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Enabled template deployment without parameter file (#1261)
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/TestingDesign.md
  docs/wiki/UtilitiesTestModuleLocally.md
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
  utilities/tools/Test-ModuleLocally.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

no rg additional param
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

remove rg as additional param
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

fix main readme list
  README.md
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
  arm/Microsoft.Network/vpnSites/readme.md
  arm/README.md
Due: none

static web sites
  arm/Microsoft.Web/staticSites/readme.md
Due: none

anser
  README.md
  arm/Microsoft.AnalysisServices/servers/readme.md
  arm/README.md
Due: none

avd scaling
  arm/Microsoft.DesktopVirtualization/scalingplans/readme.md
Due: none

system topics
  arm/Microsoft.EventGrid/systemTopics/readme.md
Due: none

front doors
  arm/Microsoft.Network/firewallPolicies/readme.md
  arm/Microsoft.Network/frontDoors/readme.md
Due: none

v hub
  arm/Microsoft.Network/virtualHubs/readme.md
Due: none

v sites
  arm/Microsoft.Network/vpnSites/readme.md
Due: none

ser far
  arm/Microsoft.ServiceFabric/clusters/applicationTypes/readme.md
  arm/Microsoft.ServiceFabric/clusters/readme.md
Due: none

sws
  README.md
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
  arm/Microsoft.Web/staticSites/readme.md
  arm/README.md
Due: none

Main home readme update (#1286)
  README.md
  arm/Microsoft.AnalysisServices/servers/readme.md
  arm/Microsoft.DesktopVirtualization/scalingplans/readme.md
  arm/Microsoft.EventGrid/systemTopics/readme.md
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
  arm/Microsoft.Network/firewallPolicies/readme.md
  arm/Microsoft.Network/frontDoors/readme.md
  arm/Microsoft.Network/virtualHubs/readme.md
  arm/Microsoft.Network/vpnSites/readme.md
  arm/Microsoft.ServiceFabric/clusters/applicationTypes/readme.md
  arm/Microsoft.ServiceFabric/clusters/readme.md
  arm/Microsoft.Synapse/privateLinkHubs/readme.md
  arm/Microsoft.Web/staticSites/readme.md
  arm/README.md
Due: none

Fix deployment validation at scope different than rg (#1285)
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

Update .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

updated pipeline references
  .azuredevops/modulePipelines/ms.aad.domainservices.yml
  .github/workflows/ms.aad.domainservices.yml
  .github/workflows/ms.azuread.domainservice.yml
Due: none

renamed folder to micrsoft.add
  arm/Microsoft.AAD/DomainServices/.bicep/nested_rbac.bicep
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
  arm/Microsoft.AAD/DomainServices/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: none

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Introduce YAML templates (#1269)
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Make VMSize required parameter (#1282)
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Push updated Readme file(s)
  README.md
  arm/README.md
Due: none

Update to latest
  docs/wiki/The CI environment - Bicep configuration file.md
  docs/wiki/The CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  arm/Microsoft.Network/connections/.parameters/vnet2vnet.parameters.json
Due: none

Initial settings
  global.variables.yml
  settings.json
Due: none

contribution page and index
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  docs/wiki/Getting started - Scenario 2 Consume library.md
  docs/wiki/Getting started - Scenario 3 Contribute.md
  docs/wiki/Getting started.md
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

fix link
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update bicepconfig.json
  bicepconfig.json
Due: none

namePrefix
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  docs/wiki/Getting started.md
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

typo
  docs/wiki/Getting started - Check NamePrefix availability.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

remove empty lines
  docs/wiki/Getting started - Scenario 3 Contribute.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed id
  arm/Microsoft.Network/connections/.parameters/vnet2vnet.parameters.json
Due: none

Update docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Contribution guide - Contribution flow.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The CI environment - Token replacement.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
