Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: DependencyDeployment
    displayName: Dependency Deployment
    jobs:
    - job: deploy
      displayName: Deploy dependencies
      pool:
        ${{ if ne(variables['vmImage'], '') }}:
          vmImage: ${{ variables['vmImage'] }}
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

Update docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The CI environment - Token replacement.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Wiki restructuring - Getting started update (#1289)
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  docs/wiki/Getting started - Scenario 2 Consume library.md
  docs/wiki/Getting started - Scenario 3 Contribute.md
  docs/wiki/Getting started.md
  docs/wiki/Home.md
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Fixed incorrect resource name
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

remove reference to not used set var external action
  .github/workflows/ms.kubernetesconfiguration.extensions.yml
  .github/workflows/ms.kubernetesconfiguration.fluxconfigurations.yml
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Set location
  arm/Microsoft.Network/connections/.parameters/vnet2vnet.parameters.json
Due: none

KubernetesConfiguration ado
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.extensions.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
Due: none

Fixed incorrect resource name (#1290)
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added `bicepconfig.json` to disable location warning (#1283)
  bicepconfig.json
  docs/wiki/The CI environment - Bicep configuration file.md
  docs/wiki/The CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated casing
  arm/Microsoft.Network/connections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Align KubernetesConfiguration pipelines to new globalvar (#1291)
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.extensions.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
  .github/workflows/ms.kubernetesconfiguration.extensions.yml
  .github/workflows/ms.kubernetesconfiguration.fluxconfigurations.yml
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  arm/Microsoft.Network/connections/readme.md
Due: none

update home
  docs/wiki/Home.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated interface of network connection module (#1214)
  .azuredevops/modulePipelines/ms.network.connections.yml
  arm/Microsoft.Network/connections/.parameters/vnet2vnet.parameters.json
  arm/Microsoft.Network/connections/deploy.bicep
  arm/Microsoft.Network/connections/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated security center
  arm/Microsoft.Security/azureSecurityCenter/deploy.bicep
  arm/Microsoft.Security/azureSecurityCenter/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

First commit (#1262)
  arm/Microsoft.Network/virtualNetworks/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated version
  arm/Microsoft.Security/azureSecurityCenter/version.json
Due: none

Removed netapp capacity pool batch (#1266)
  arm/Microsoft.NetApp/netAppAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

changed virtualnetworkrules to use resourceid instead of name
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

updated readmes
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none

sidebar
  docs/wiki/_Sidebar.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Removed law solutions batch (#1264)
  arm/Microsoft.OperationalInsights/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added Cosmos DB and Containers support for Defender for Cloud Settings (#1293)
  arm/Microsoft.Security/azureSecurityCenter/deploy.bicep
  arm/Microsoft.Security/azureSecurityCenter/readme.md
  arm/Microsoft.Security/azureSecurityCenter/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Removed batch for testing (#1263)
  arm/Microsoft.Network/firewallPolicies/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

[Pester] Added test to make sure the `Set-ModuleReadMe` script was applied (#1267)
  arm/.global/global.module.tests.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

update aml module
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/computes/version.json
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

init dep pipeline
  .github/workflows/platform.dependencies.yml
Due: none

Update to latest
  docs/wiki/The CI environment - Static validation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

init dep pipeline needs
  .github/workflows/platform.dependencies.yml
Due: none

remove param retrieval
  .github/workflows/platform.dependencies.yml
Due: none

update readmes
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: none

removed unwanted param
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.Storage/storageAccounts/deploy.bicep
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

fix identity object
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
Due: none

fix readme
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
Due: none

Fix dependency pipeline (#1296)
  .github/workflows/platform.dependencies.yml
Due: none

implement suggestions
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Delete arm/Microsoft.DomainServices directory
  arm/Microsoft.DomainServices/AzureADDomainServices/.bicep/nested_rbac.bicep
  arm/Microsoft.DomainServices/AzureADDomainServices/.parameters/aadds.parameters.json
  arm/Microsoft.DomainServices/AzureADDomainServices/deploy.bicep
  arm/Microsoft.DomainServices/AzureADDomainServices/readme.md
  arm/Microsoft.DomainServices/AzureADDomainServices/version.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update readme
  arm/Microsoft.Web/sites/config-appsettings/readme.md
  arm/Microsoft.Web/sites/config-authsettingsv2/readme.md
  arm/Microsoft.Web/sites/readme.md
Due: none

update identity
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix parameters
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
Due: none

fix readme
  arm/Microsoft.Web/sites/config-appsettings/deploy.bicep
  arm/Microsoft.Web/sites/config-appsettings/readme.md
  arm/Microsoft.Web/sites/config-authsettingsv2/readme.md
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
