Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

tempfilepath dollar
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

Adjusted test for tokens in parameter files (#1259)
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .github/actions/templates/validateModulePester/action.yml
  arm/.global/global.module.tests.ps1
  docs/wiki/The CI environment - Static validation.md
  utilities/tools/Test-ModuleLocally.ps1
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

parameters
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

Update arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated readme
  arm/Microsoft.AAD/DomainServices/readme.md
Due: none

Update to latest
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
Due: none

Added considerations
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/deploy.bicep
  arm/Microsoft.AAD/DomainServices/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated readme
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/readme.md
Due: none

update description parameter
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add systemAssignedPrincipalId output
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add userAssignedIdentities to parameter file
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
Due: none

adding compute parameters
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

adjusting to different requirements of create versus attach
  arm/Microsoft.MachineLearningServices/workspaces/.parameters/parameters.json
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  arm/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fix readme
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  arm/Microsoft.MachineLearningServices/workspaces/computes/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated readmes
  arm/Microsoft.EventHub/namespaces/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.Storage/storageAccounts/readme.md
Due: none

Updated docs
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.AAD/DomainServices/readme.md
Due: none

Added networking dependencies
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.AAD/DomainServices/.parameters/parameters.json
  arm/Microsoft.Network/virtualNetworks/.parameters/parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/aadds.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/8.aadds.parameters.json
Due: none

Update to latest
  arm/Microsoft.AAD/DomainServices/readme.md
Due: none

Minor fix
  utilities/pipelines/dependencies/Microsoft.Network/networkSecurityGroups/parameters/aadds.parameters.json
Due: none

Updated to latest
  .azuredevops/modulePipelines/ms.subscription.aliases.yml
  .github/workflows/ms.subscription.aliases.yml
  arm/Microsoft.Subscription/aliases/.parameters/existing.parameters.json
  arm/Microsoft.Subscription/aliases/.parameters/parameters.json
  arm/Microsoft.Subscription/aliases/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated to latest
  arm/Microsoft.Subscription/aliases/deploy.bicep
  arm/Microsoft.Subscription/aliases/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added rbac
  arm/Microsoft.Subscription/aliases/.bicep/nested_cuaId.bicep
  arm/Microsoft.Subscription/aliases/.bicep/nested_rbac.bicep
  arm/Microsoft.Subscription/aliases/deploy.bicep
  utilities/tools/Get-FormattedRBACRoleList.ps1
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated to latest
  arm/Microsoft.Subscription/aliases/readme.md
Due: none

Added version file
  arm/Microsoft.Subscription/aliases/version.json
Due: none

Update to latest
  utilities/tools/Get-FormattedRBACRoleList.ps1
Due: none

Update to latest
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
Due: none

Update to latest
  .azuredevops/platformPipelines/platform.dependencies.yml
Due: none

test home
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Due: none

Push updated Readme file(s)
  README.md
Due: none
