Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: DependencyDeployment
    displayName: Dependency Deployment
    jobs:
    - job: deploy
      displayName: Deploy dependencies
      pool:
        ${{ if ne(variables['vmImage'], '') }}:
          vmImage: ${{ variables['vmImage'] }}
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

Add usage for Mac/Linux users
  docs/wiki/ModulesUsage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Added support for multi-line metadata
  arm/Microsoft.Compute/availabilitySets/deploy.bicep
  arm/Microsoft.Compute/availabilitySets/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

dependencies pipeline
  docs/wiki/Getting started - Setup environment.md
  docs/wiki/Home.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

dependencies docs restructuring
  docs/wiki/Getting started - Dependency pipeline.md
  docs/wiki/Getting started - Setup environment.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

publishing index
  docs/wiki/The CI environment - Publishing.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

publishing note
  docs/wiki/The CI environment - Publishing.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Restructured app settings
  arm/Microsoft.Web/sites/.parameters/fa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
  arm/Microsoft.Web/sites/config/deploy.bicep
  arm/Microsoft.Web/sites/config/readme.md
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated settings
  arm/Microsoft.Web/sites/.parameters/fa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
  arm/Microsoft.Web/sites/config/deploy.bicep
  arm/Microsoft.Web/sites/config/readme.md
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated docs
  arm/Microsoft.Web/sites/.parameters/wa.min.parameters.json
  arm/Microsoft.Web/sites/config/deploy.bicep
  arm/Microsoft.Web/sites/config/readme.md
  arm/Microsoft.Web/sites/deploy.bicep
  arm/Microsoft.Web/sites/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Publishing.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

elaborate publishing
  docs/wiki/The CI environment - Publishing.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Updated depdencies table
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  docs/wiki/Getting started - Setup environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update to latest
  arm/Microsoft.Web/sites/.parameters/fa.min.parameters.json
  arm/Microsoft.Web/sites/.parameters/fa.parameters.json
Due: none

Update arm/Microsoft.Web/sites/config/deploy.bicep
  arm/Microsoft.Web/sites/config/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Web/sites/.parameters/fa.min.parameters.json
  arm/Microsoft.Web/sites/config/readme.md
Due: none

Updated readme
  arm/Microsoft.Insights/components/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
  arm/Microsoft.NetApp/netAppAccounts/capacityPools/readme.md
  arm/Microsoft.Network/firewallPolicies/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated example
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Updated readme
  arm/Microsoft.NetApp/netAppAccounts/capacityPools/readme.md
Due: none

Added support for multi-line metadata (#1238)
  arm/Microsoft.Compute/availabilitySets/deploy.bicep
  arm/Microsoft.Compute/availabilitySets/readme.md
  arm/Microsoft.Insights/components/readme.md
  arm/Microsoft.KeyVault/vaults/readme.md
  arm/Microsoft.KubernetesConfiguration/extensions/readme.md
  arm/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
  arm/Microsoft.Network/firewallPolicies/deploy.bicep
  utilities/tools/Set-ModuleReadMe.ps1
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

encryptionAtHost null if not true
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

anser dependencies
  arm/Microsoft.AnalysisServices/servers/.dependencies/dependencies.bicep
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

global dependencies
  arm/.global/dependencyConstructs/diagnostic.dependencies.bicep
  arm/.global/shared/telemetryId.bicep
Due: none

sub dep workflow
  .github/workflows/ms.analysisservices.servers.yml
  arm/Microsoft.AnalysisServices/servers/.dependencies/dependencies.bicep
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

rev global var
  .github/workflows/ms.analysisservices.servers.yml
Due: none

token param condition
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

update deploy action
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

comment validation
  .github/actions/templates/validateModuleDeployment/action.yml
Due: none

customrgname
  .github/workflows/ms.analysisservices.servers.yml
Due: none

enableDeployment flag
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/workflows/ms.analysisservices.servers.yml
Due: none

Update utilities/pipelines/sharedScripts/Get-ModuleParameterFiles.ps1
  utilities/pipelines/sharedScripts/Get-ModuleParameterFiles.ps1
Due: none

Update .github/actions/templates/getParameterFiles/action.yml
  .github/actions/templates/getParameterFiles/action.yml
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
