Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

cleanup and all stages
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

Rollback
  .azuredevops/pipelineTemplates/stages.module.yml
  .azuredevops/pipelineTemplates/steps.removeTemplateDeployment backup.yml
  .azuredevops/pipelineTemplates/steps.removeTemplateDeployment.yml
Due: none

readme update
  arm/Microsoft.AnalysisServices/servers/readme.md
Due: none

Update to latest
  .azuredevops/pipelineTemplates/stages.module.yml
  .azuredevops/pipelineTemplates/steps.removeTemplateDeployment.yml
Due: none

Update to latest
  .azuredevops/pipelineTemplates/steps.deployTemplate.yml
Due: none

Update to latest
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Due: none

Cleanup
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

removal condition and cleanup
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

if condition
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

fix publicipaddressobject custom ip example
  arm/Microsoft.Network/azureFirewalls/.parameters/custompip.parameters.json
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

Flipped image build deployment
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

ReadMe Updates
  arm/Microsoft.Authorization/policyAssignments/readme.md
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

update reference to dependencies for additional pip
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
Due: none

Update to latest
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Added out string
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

displayname and pool
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

Try different exp time
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

Another try
  arm/Microsoft.Automation/automationAccounts/.parameters/parameters.json
  arm/Microsoft.Automation/automationAccounts/readme.md
Due: none

Updated wiki
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

optional removal
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

Update docs/wiki/The library - Module design.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Modules] 1154 Add Public IP to Azure Firewall (#1392)
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress.bicep
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress_rbac.bicep
  arm/Microsoft.Network/azureFirewalls/.parameters/addpip.parameters.json
  arm/Microsoft.Network/azureFirewalls/.parameters/custompip.parameters.json
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
  docs/wiki/The library - Module design.md
  utilities/pipelines/dependencies/Microsoft.Network/publicIPAddresses/parameters/fw.additional.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/10.azfw.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/11.azfw.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/9.azfw.parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

evh dot
  arm/Microsoft.EventHub/namespaces/networkRuleSets/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

evh dot readme
  arm/Microsoft.EventHub/namespaces/networkRuleSets/readme.md
Due: none

[Static validation] evh missing description dot (#1438)
  arm/Microsoft.EventHub/namespaces/networkRuleSets/deploy.bicep
  arm/Microsoft.EventHub/namespaces/networkRuleSets/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

job docs
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

Fixed kv ref generation
  arm/Microsoft.Compute/virtualMachines/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Updated readme
  arm/Microsoft.AAD/DomainServices/readme.md
  arm/Microsoft.Compute/virtualMachineScaleSets/readme.md
  arm/Microsoft.Network/connections/readme.md
  arm/Microsoft.Sql/managedInstances/readme.md
  arm/Microsoft.Sql/servers/readme.md
Due: none

Undid unintended change
  arm/Microsoft.Storage/storageAccounts/.parameters/parameters.json
Due: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml

test depl
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

test depl
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

cleanup
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

getparam back in the validation template
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none
