Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

Minor fix
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
Due: none

Adjusted name gen to original
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
Due: none

Changed pip sku to standard
  arm/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
Due: none

Added docs
  docs/wiki/Getting started - Get module cross-references.md
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

add static validation job
  .github/workflows/ms.appconfiguration.configurationstores.yml
Due: none

update readme
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
Due: none

Update condition casing
  arm/Microsoft.Network/connections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add new test
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

align param description regex
  arm/.global/global.module.tests.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Update settings.json
  settings.json
Due: none

objectidchanged
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
Due: none

revert values back to defaults
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/parameters.json
  global.variables.yml
  settings.json
  utilities/pipelines/dependencies/Microsoft.Compute/virtualMachines/parameters/parameters.json
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
Due: none

remove comment
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed Inconsistent naming of NSGs IDs #1323
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update condition casing (#1407)
  arm/Microsoft.Network/connections/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated readme
  arm/Microsoft.Network/localNetworkGateways/readme.md
Due: none

Fixed RSV fabric output
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/deploy.bicep
  arm/Microsoft.RecoveryServices/vaults/replicationFabrics/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed ML compute output
  arm/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated tags output
  arm/Microsoft.Resources/tags/deploy.bicep
  arm/Microsoft.Resources/tags/readme.md
  arm/Microsoft.Resources/tags/resourceGroups/deploy.bicep
  arm/Microsoft.Resources/tags/resourceGroups/readme.md
  arm/Microsoft.Resources/tags/subscriptions/deploy.bicep
  arm/Microsoft.Resources/tags/subscriptions/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update Azure DevOps yaml name, reference existing app config store in nested rbac file, update naming convention in param file
  .azuredevops/modulePipelines/ms.appconfiguration.configurationstores.yml
  arm/Microsoft.AppConfiguration/configurationStores/.bicep/nested_rbac.bicep
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
Due: none

Update read me and adding output for location in deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

workflow badge
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
  global.variables.yml
  settings.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update name in params
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
Due: none

adding role assignments in params
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/parameters.json
Due: none

revert to default values
  global.variables.yml
  settings.json
Due: none

add min to naming convention
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
Due: none

Updated tags output (#1408)
  arm/Microsoft.Resources/tags/deploy.bicep
  arm/Microsoft.Resources/tags/readme.md
  arm/Microsoft.Resources/tags/resourceGroups/deploy.bicep
  arm/Microsoft.Resources/tags/resourceGroups/readme.md
  arm/Microsoft.Resources/tags/subscriptions/deploy.bicep
  arm/Microsoft.Resources/tags/subscriptions/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

undo output changes
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

using union
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update azure firewall for PIP use cases
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress.bicep
  arm/Microsoft.Network/azureFirewalls/.bicep/nested_publicIPAddress_rbac.bicep
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
  arm/Microsoft.Network/azureFirewalls/.parameters/parameters.json
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

reran set-modulereadme
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

remove template reference and regenerate readme
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

fixing linter - instead of id, ID
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

add readme usage
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none

Update arm/Microsoft.Network/azureFirewalls/deploy.bicep
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
Due: none

consistent output
  arm/Microsoft.Network/azureFirewalls/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

consistent name
  arm/Microsoft.Network/azureFirewalls/.parameters/min.parameters.json
Due: none

updatereadme
  arm/Microsoft.Network/azureFirewalls/readme.md
Due: none
