Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - stage: DependencyDeployment
    displayName: Dependency Deployment
    jobs:
    - job: deploy
      displayName: Deploy dependencies
      pool:
        ${{ if ne(variables['vmImage'], '') }}:
          vmImage: ${{ variables['vmImage'] }}
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

updated multiple files based on PR feedback
  .azuredevops/modulePipelines/ms.azuread.domainservices.yml
  .github/workflows/ms.azuread.domainservice.yml
  arm/Microsoft.DomainServices/AzureADDomainServices/.parameters/aadds.parameters.json
  arm/Microsoft.DomainServices/AzureADDomainServices/deploy.bicep
  arm/Microsoft.DomainServices/AzureADDomainServices/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Added datadisk to params
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
Due: none

removed optional props in disk config
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.min.parameters.json
Due: none

Added caching in parameters
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
Due: none

Update arm/Microsoft.Network/connections/readme.md
  arm/Microsoft.Network/connections/readme.md
Due: none

Made template scope determination more robust
  utilities/pipelines/sharedScripts/Get-ScopeOfTemplateFile.ps1
Due: none

Updated API version; Added comments for better separation; Added publicNetworkAccess parameter; Added additional log setting for diagnostic settings; Corrected usage of diagnosticSettingsName;
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.KeyVault/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Made template scope determination more robust (#1219)
  utilities/pipelines/sharedScripts/Get-ScopeOfTemplateFile.ps1
Due: none

Updated API version; (#1220)
  arm/Microsoft.KeyVault/vaults/deploy.bicep
  arm/Microsoft.KeyVault/vaults/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Add RetentionInDays and SamplingPercentage
  arm/Microsoft.Insights/components/deploy.bicep
  arm/Microsoft.Insights/components/readme.md
Due: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Adjusted test
  arm/Microsoft.Sql/servers/.parameters/parameters.json
Due: none

Test-commented properties
  .github/workflows/ms.sql.servers.yml
  arm/Microsoft.Sql/servers/databases/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to latest
  arm/Microsoft.Sql/servers/.parameters/parameters.json
Due: none

Update to latest
  arm/Microsoft.Sql/servers/databases/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update to different set
  arm/Microsoft.Sql/servers/.parameters/parameters.json
Due: none

Small fix
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Changed capacity
  arm/Microsoft.Sql/servers/.parameters/parameters.json
Due: none

Re-enabled all
  .github/workflows/ms.sql.servers.yml
  arm/Microsoft.Sql/servers/.parameters/parameters.json
Due: none

Add RetentionInDays and SamplingPercentage (#1221)
  arm/Microsoft.Insights/components/deploy.bicep
  arm/Microsoft.Insights/components/readme.md
Due: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Undid version update
  arm/Microsoft.Network/connections/version.json
Due: none

Added some defaults to osDisk and dataDisks for VM (#1218)
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/linux.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.min.parameters.json
  arm/Microsoft.Compute/virtualMachines/.parameters/windows.parameters.json
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

SQLServer: Fix for extended parameter set (#1213)
  arm/Microsoft.Sql/servers/.parameters/parameters.json
  arm/Microsoft.Sql/servers/databases/deploy.bicep
  arm/Microsoft.Sql/servers/databases/readme.md
  arm/Microsoft.Sql/servers/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated name
  .azuredevops/modulePipelines/ms.azuread.domainservices.yml
Due: none

updated name
  .github/workflows/ms.azuread.domainservice.yml
Due: none

Added version.json file
  arm/Microsoft.DomainServices/version.json
Due: none

moved version.json file
  arm/Microsoft.DomainServices/AzureADDomainServices/version.json
Due: none

updated nameprefix
  settings.json
Due: none

updated parameters file to test without ipRules
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
Due: none

reverted parameters file after testing
  arm/Microsoft.KeyVault/vaults/.parameters/parameters.json
Due: none

reverted nameprefix after testing
  settings.json
Due: none

CI environment
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/media/Context/Deployment_flow.png
  docs/wiki/media/Context/Deployment_flow_detail_white.png
  docs/wiki/media/Context/Deployment_flow_users.png
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

new line
  docs/wiki/Solution creation.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

library update
  docs/wiki/The context - CARML library.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

ci env root
  docs/wiki/The CI environment.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

pipeline usage
  docs/wiki/The CI environment - Pipeline usage.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
