Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki

strategy
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

strategy parameterFilePath
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

Fixed some missing parts to pipelines and a mistake in wiki
  .azuredevops/modulePipelines/ms.aad.domainservices.yml
  .azuredevops/modulePipelines/ms.desktopvirtualization.scalingplans.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.extensions.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
  .azuredevops/modulePipelines/ms.network.frontdoors.yml
  .github/workflows/ms.network.vpnsites.yml
  docs/wiki/The CI environment - Publishing.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

Update utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

print init
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

parameterFilePaths
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

parameterFilePaths pass
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

parameterFilePaths dollar
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

parameterFilePaths brakets
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

parameterFilePaths brakets quote
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
Due: none

parameterFilePaths no brakets quote
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

print before template
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

Fixed some missing parts to pipelines and a mistake in wiki (#1381)
  .azuredevops/modulePipelines/ms.aad.domainservices.yml
  .azuredevops/modulePipelines/ms.desktopvirtualization.scalingplans.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.extensions.yml
  .azuredevops/modulePipelines/ms.kubernetesconfiguration.fluxconfigurations.yml
  .azuredevops/modulePipelines/ms.network.frontdoors.yml
  .github/workflows/ms.network.vpnsites.yml
  docs/wiki/The CI environment - Publishing.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

[Modules] VirtualMachine: Configure boot diagnostics with managed storage account (#1365)
  arm/Microsoft.Compute/virtualMachines/deploy.bicep
  arm/Microsoft.Compute/virtualMachines/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

print before template 2
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

print before template double
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

print before template triple
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

parameterTestsToPrint
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

Update arm/Microsoft.ContainerService/managedClusters/readme.md
  arm/Microsoft.ContainerService/managedClusters/readme.md
Due: none

Updated readme
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The library - Module design.md
Due: .azuredevops/platformPipelines/platform.wiki-sync.yml

init
  .github/workflows/ms.appconfiguration.configurationstores.yml
  arm/Microsoft.AppConfiguration/configurationStores/.bicep/nested_rbac.bicep
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/parameters.json
  arm/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  arm/Microsoft.AppConfiguration/configurationStores/readme.md
  arm/Microsoft.AppConfiguration/configurationStores/version.json
  global.variables.yml
  settings.json
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update name prefix
  settings.json
Due: none

[Static Validation] Pester structural tests (#1373)
  arm/.global/global.module.tests.ps1
  docs/wiki/Getting started - Scenario 1 Onboard module library and CI environment.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

updated event hub module for network rules
  arm/Microsoft.EventHub/namespaces/.parameters/parameters.json
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.EventHub/namespaces/networkRuleSets/deploy.bicep
  arm/Microsoft.EventHub/namespaces/networkRuleSets/readme.md
  arm/Microsoft.EventHub/namespaces/networkRuleSets/version.json
  arm/Microsoft.EventHub/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

updated API versions on event hub
  arm/Microsoft.EventHub/namespaces/.bicep/nested_rbac.bicep
  arm/Microsoft.EventHub/namespaces/authorizationRules/deploy.bicep
  arm/Microsoft.EventHub/namespaces/authorizationRules/readme.md
  arm/Microsoft.EventHub/namespaces/deploy.bicep
  arm/Microsoft.EventHub/namespaces/disasterRecoveryConfigs/deploy.bicep
  arm/Microsoft.EventHub/namespaces/disasterRecoveryConfigs/readme.md
  arm/Microsoft.EventHub/namespaces/eventhubs/.bicep/nested_rbac.bicep
  arm/Microsoft.EventHub/namespaces/eventhubs/authorizationRules/deploy.bicep
  arm/Microsoft.EventHub/namespaces/eventhubs/authorizationRules/readme.md
  arm/Microsoft.EventHub/namespaces/eventhubs/consumergroups/deploy.bicep
  arm/Microsoft.EventHub/namespaces/eventhubs/consumergroups/readme.md
  arm/Microsoft.EventHub/namespaces/eventhubs/deploy.bicep
  arm/Microsoft.EventHub/namespaces/eventhubs/readme.md
  arm/Microsoft.EventHub/namespaces/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Fixed AVD ApplicationGroup output
  arm/Microsoft.DesktopVirtualization/applicationgroups/applications/deploy.bicep
  arm/Microsoft.DesktopVirtualization/applicationgroups/applications/readme.md
  arm/Microsoft.DesktopVirtualization/applicationgroups/deploy.bicep
  arm/Microsoft.DesktopVirtualization/applicationgroups/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

update namePrefix
  settings.json
Due: none

Added privateEndpoints to the parameter file
  arm/Microsoft.EventGrid/topics/.parameters/parameters.json
Due: none

update app config name
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
Due: none

Added to private endpoint description
  arm/Microsoft.EventGrid/topics/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated privateEndpoint description
  arm/Microsoft.EventGrid/topics/readme.md
Due: none

update obj ID and param
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
  utilities/pipelines/dependencies/Microsoft.KeyVault/vaults/parameters/parameters.json
Due: none

Updated setting.json
  settings.json
Due: none

changing azure region
  .github/workflows/platform.dependencies.yml
  arm/Microsoft.AppConfiguration/configurationStores/.parameters/min.parameters.json
Due: none

reset settings.json
  settings.json
Due: none

update locatiom, nameprefix, and vm size
  .github/workflows/platform.dependencies.yml
  settings.json
  utilities/pipelines/dependencies/Microsoft.Compute/virtualMachines/parameters/parameters.json
Due: none
