Repository Azure/ResourceModules: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/modulePipelines/ms.network.virtualhubs.yml, .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml, .azuredevops/platformPipelines/platform.wiki-sync.yml

.azuredevops/modulePipelines/ms.analysisservices.servers.yml:
  name: AnalysisServices - Servers
  stages:
  - template: /.azuredevops/pipelineTemplates/stages.module.yml
    parameters:
      removeDeployment: ${{ parameters.removeDeployment }}
      prerelease: ${{ parameters.prerelease }}
      templateFilePath: $(modulePath)/deploy.bicep
  ...

.azuredevops/modulePipelines/ms.authorization.policyassignments.yml:
  name: Authorization - PolicyAssignments
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policydefinitions.yml:
  name: Authorization - PolicyDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.policyexemptions.yml:
  name: Authorization - PolicyExemptions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.authorization.roledefinitions.yml:
  name: Authorization - RoleDefinitions
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.containerservice.managedclusters.yml:
  name: ContainerService - ManagedClusters
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.insights.components.yml:
  name: Insights - Components
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.validate.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/module.jobs.deploy.yml
  ...

.azuredevops/modulePipelines/ms.network.virtualhubs.yml:
  name: 'Network: Virtual Hubs'
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

.azuredevops/modulePipelines/ms.synapse.workspaces.yml:
  name: Synapse - Workspaces
  stages:
  - stage: Validation
    displayName: Pester tests
    jobs:
    - template: /.azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  - stage: Deployment
    displayName: Deployment tests
    jobs:
  ...

Linting
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/readme.md
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

add param to parameter.json
  arm/Microsoft.Batch/batchAccounts/.parameters/parameters.json
Due: none

linting
  arm/Microsoft.ContainerService/managedClusters/deploy.bicep
  arm/Microsoft.ContainerService/managedClusters/readme.md
Due: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

add poolAllocationMode
  arm/Microsoft.Batch/batchAccounts/.parameters/min.parameters.json
  arm/Microsoft.Batch/batchAccounts/.parameters/parameters.json
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

fixed broken link
  arm/Microsoft.Sql/managedInstances/readme.md
Due: none

removed unwanted empty line
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update arm/Microsoft.Batch/batchAccounts/deploy.bicep
  arm/Microsoft.Batch/batchAccounts/deploy.bicep
Due: .azuredevops/platformPipelines/platform.updateReadMe.yml

Update .azuredevops/modulePipelines/ms.batch.batchaccounts.yml
  .azuredevops/modulePipelines/ms.batch.batchaccounts.yml
Due: none

Users/fblix/bugfix broken sqlmi link (#1350)
  arm/Microsoft.Sql/managedInstances/readme.md
Due: none

Update arm/Microsoft.Batch/batchAccounts/.parameters/min.parameters.json
  arm/Microsoft.Batch/batchAccounts/.parameters/min.parameters.json
Due: none

updated readme
  arm/Microsoft.Batch/batchAccounts/readme.md
Due: none

Created first version of formatter
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Test Updated VM
  arm/Microsoft.Compute/virtualMachines/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Update to latest
  arm/Microsoft.ManagedIdentity/userAssignedIdentities/readme.md
Due: none

stage strategy
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

stage no strategy
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Due: none

disable telemetry dep
  arm/.global/dependencyConstructs/diagnostic.dependencies.bicep
  arm/Microsoft.AnalysisServices/servers/.dependencies/dependencies.bicep
Due: .azuredevops/modulePipelines/ms.analysisservices.servers.yml

Updated format
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.ManagedIdentity/userAssignedIdentities/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Updated bicep handling
  arm/Microsoft.Compute/virtualMachines/readme.md
  arm/Microsoft.ManagedIdentity/userAssignedIdentities/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Update to latest
  arm/Microsoft.Compute/virtualMachines/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Update to latest
  utilities/tools/Set-ModuleReadMe.ps1
Due: none

Update arm/Microsoft.Synapse/workspaces/.bicep/nested_cmk.bicep
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cmk.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Update arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/deploy.bicep
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated diagnostics settigns and READMEs
  arm/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
  arm/Microsoft.Synapse/workspaces/deploy.bicep
  arm/Microsoft.Synapse/workspaces/keys/deploy.bicep
  arm/Microsoft.Synapse/workspaces/keys/readme.md
  arm/Microsoft.Synapse/workspaces/readme.md
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/platformPipelines/platform.updateReadMe.yml

Updated parameter files
  arm/Microsoft.Synapse/workspaces/.parameters/basic.parameters.json
Due: .azuredevops/modulePipelines/ms.synapse.workspaces.yml

Removed PR branch
  .github/workflows/ms.synapse.workspaces.yml
Due: none

Path conditions:
  .azuredevops/modulePipelines/ms.analysisservices.servers.yml: any of: .azuredevops/modulePipelines/ms.analysisservices.servers.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.AnalysisServices/servers, arm/.global/global.module.tests.ps1, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyassignments.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyassignments.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyAssignments, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policydefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml: any of: .azuredevops/modulePipelines/ms.authorization.policyexemptions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/policyExemptions, but not: **/*.md
  .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml: any of: .azuredevops/modulePipelines/ms.authorization.roledefinitions.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Authorization/roleDefinitions, but not: **/*.md
  .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml: any of: .azuredevops/modulePipelines/ms.containerservice.managedclusters.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.ContainerService/managedClusters, but not: **/*.md
  .azuredevops/modulePipelines/ms.insights.components.yml: any of: .azuredevops/modulePipelines/ms.insights.components.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Insights/components, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualhubs.yml: any of: .azuredevops/modulePipelines/ms.network.virtualHubs.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualHubs, but not: **/*.md
  .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml: any of: .azuredevops/modulePipelines/ms.network.virtualnetworkgateways.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Network/virtualNetworkGateways, but not: **/*.md
  .azuredevops/modulePipelines/ms.resources.resourcegroups.yml: any of: .azuredevops/modulePipelines/ms.resources.resourcegroups.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Resources/resourceGroups, but not: **/*.md
  .azuredevops/modulePipelines/ms.storage.storageaccounts.yml: any of: .azuredevops/modulePipelines/ms.storage.storageaccounts.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Storage/storageAccounts, but not: **/*.md
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml: any of: .azuredevops/modulePipelines/ms.synapse.workspaces.yml, .azuredevops/pipelineTemplates/module.*.yml, arm/Microsoft.Synapse/workspaces, but not: **/*.md
  .azuredevops/platformPipelines/platform.updateReadMe.yml: any of: arm/**/deploy.bicep, arm/**/deploy.json
  .azuredevops/platformPipelines/platform.wiki-sync.yml: any of: docs/wiki
